.deposit-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deposit-card {
  background-color: rgba(57, 52, 52, 0.12);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
}
.deposit-header {
  padding-top: 14px;
  padding-bottom: 14px;
}

.deposit-header h3 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(250, 250, 250);
  text-align: center;
}

.deposit-body {
  padding: 15px;
}
.deposit-body p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  background: transparent;
  margin-bottom: 12px;
}

.deposit-body input {
  width: 100%;
  max-width: 250px;
  height: 44px;
  padding: 0 12px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9fafb;
  color: #111827;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
}

.deposit-footer {
  margin-top: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.deposit-btn {
  width: 100%;
  height: 44px;
  max-width: 180px;
  background-color: #2564eb7a;
  color: #ffffff;

  border: none;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.deposit-btn:hover {
  background-color: #234acd;
}

.message {
  margin: 15px 0;
  padding: 8px 12px;
  border-radius: 7px;
  font-size: 14px;
  text-align: center;
}

.message.success {
  background-color: rgba(0, 128, 0, 0.15);
  color: #1ea566;
}

.message.error {
  background-color: rgba(255, 0, 0, 0.15);
  color: #d32c3a;
}

@media (max-width: 600px) {
  .deposit-body {
    text-align: center;
  }
}
